{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<div class="nav">
		<button class="svg" id="back">
			<img src="/svg/arrow-left.svg" alt="">
		</button>
		<button class="svg" id="forward">
			<img src="/svg/arrow-right.svg" alt="">
		</button>
		<button class="svg" id="reload">
			<img src="/svg/restart.svg" alt="">
		</button>
		<button class="svg" id="home">
			<img src="/svg/home.svg" alt="">
		</button>		

		<input class="input" type="text" id="input">

		<botton class="svg" id="go">
			<img src="/svg/arrow-run.svg" alt="">
		</botton>

	</div>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}